[Unit]
Description=Huawei WMI Reinstate
After=huawei-wmi-privilege.service
After=hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
DynamicUser=yes
Group=huawei-wmi
ExecStart=/usr/lib/huawei-wmi/reinstate

[Install]
WantedBy=huawei-wmi-privilege.service
WantedBy=hibernate.target hybrid-sleep.target suspend-then-hibernate.target
