[Unit]
Description=Huawei WMI Reinstate
After=huawei-wmi-privilege.service hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
User=huawei-wmi
Group=huawei-wmi
Environment=ETC=/etc/default/huawei-wmi
Environment=SYS=/sys/devices/platform/huawei-wmi
ExecStart=sh -c 'echo Old charge thresholds $(cat ${SYS}/charge_thresholds)'
ExecStart=sh -c 'cat ${ETC}/charge_thresholds > ${SYS}/charge_thresholds'
ExecStart=sh -c 'echo New charge thresholds $(cat ${SYS}/charge_thresholds)'

[Install]
WantedBy=huawei-wmi-privilege.service hibernate.target hybrid-sleep.target
