[Unit]
Description=Huawei WMI
After=sys-devices-platform-huawei\x2dwmi.device
After=hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
Environment=ETC=/etc/default/huawei-wmi
Environment=SYS=/sys/devices/platform/huawei-wmi
ExecStart=sh -c 'groupadd --system huawei-wmi 2> /dev/null || true'
ExecStart=chgrp huawei-wmi ${SYS}/charge_thresholds ${SYS}/fn_lock_state
ExecStart=chmod g=u ${SYS}/charge_thresholds ${SYS}/fn_lock_state
ExecStart=mkdir --parents --mode=02775 ${ETC}
ExecStart=chgrp huawei-wmi ${ETC}
ExecStart=sh -c '[ -e ${ETC}/charge_thresholds ] ||\
cat ${SYS}/charge_thresholds > ${ETC}/charge_thresholds'
ExecStart=chmod g=u ${ETC}/charge_thresholds
ExecStart=sh -c 'echo Old charge thresholds $(cat ${SYS}/charge_thresholds)'
ExecStart=sh -c 'cat ${ETC}/charge_thresholds > ${SYS}/charge_thresholds'
ExecStart=sh -c 'echo New charge thresholds $(cat ${SYS}/charge_thresholds)'

[Install]
WantedBy=sys-devices-platform-huawei\x2dwmi.device
WantedBy=hibernate.target hybrid-sleep.target
