#! /usr/bin/make -f

%:
	dh $@

override_dh_installinit:
	dh_installinit --name=huawei-wmi-privilege --no-scripts
	dh_installinit --name=huawei-wmi-reinstate --no-scripts

override_dh_systemd_enable:
	dh_systemd_enable --name=huawei-wmi-reinstate
