*/10-huawei-wmi.rules
*/available
*/privilege
*/reinstate
*/debian/huawei-wmi-privilege.service
*/debian/huawei-wmi-reinstate.service
*/debian/.debhelper/
*/debian/debhelper-build-stamp
*/debian/files
*/debian/huawei-wmi.debhelper.log
*/debian/huawei-wmi.postinst.debhelper
*/debian/huawei-wmi.postrm.debhelper
*/debian/huawei-wmi.prerm.debhelper
*/debian/huawei-wmi.substvars
*/debian/huawei-wmi/
*.dsc
*.tar.xz
*.deb
*.buildinfo
*.changes
