*/debian/.debhelper/
*/debian/debhelper-build-stamp
*/debian/files
*/debian/huawei-wmi.debhelper.log
*/debian/huawei-wmi.postinst.debhelper
*/debian/huawei-wmi.postrm.debhelper
*/debian/huawei-wmi.prerm.debhelper
*/debian/huawei-wmi.substvars
*/debian/huawei-wmi/
*.dsc
*.tar.xz
*.deb
*.buildinfo
*.changes
huawei-wmi-0.1.0/10-huawei-wmi.rules
huawei-wmi-0.1.0/README.md
huawei-wmi-0.1.0/debian/huawei-wmi-privilege.service
huawei-wmi-0.1.0/debian/huawei-wmi-reinstate.service
